.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 2rem; /* Adjust this for how much overflow you want */
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  background-color: hsla(0, 0%, 96%, 1);
  color: black;
  padding: .2rem 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.image-gallery {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.image-card {
  min-width: 25.33%; /* Adjust this width to control the visible portion */
  box-sizing: border-box;
  margin: 0 0.5rem; /* Add some margin to create spacing between items */
}

.image-card img {
  width: 100%;
  /* height: auto; */
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .image-card {
    min-width: 33.33%; /* Three cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .image-card {
    min-width: 50%; /* Two cards per row on small screens */
  }
}

@media (max-width: 480px) {
  .image-card {
    min-width: 100%; /* One card per row on extra small screens */
  }
}
