.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 2rem 5rem 0;
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  background-color: hsla(0, 0%, 96%, 1);
  color: black;
  padding: .2rem 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.arrow.active {
  background-color:hsl(var(--clr-primary)); /* Change background color on click */
  color: white; /* Change text color on click */
}
.left-arrow {
  left: 50px;
}

.right-arrow {
  right: 10px;
}

.image-gallery {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  margin-inline: 4rem;
}

.image-card {
  min-width: 25.33%;
  box-sizing: border-box;
  margin: 0 0.5rem; 
}

.image-card img {
  width: 100%;
  /* height: auto; */
  border-radius: 5px;
}
.discover-heading{
  font-size: 3rem;
  text-align: center;
  padding: 6rem 0 4rem 0;
}

@media (max-width: 1200px) {
  .image-card {
    min-width: 33.33%; /* Three cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .image-card {
    min-width: 50%; /* Two cards per row on small screens */
  }
}

@media (max-width: 480px) {
  .image-card {
    min-width: 100%; /* One card per row on extra small screens */
  }
  .discover-heading{
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0;
  }
  .image-gallery {
    margin-inline: 0;
  }
  .left-arrow {
    left: 10px;
  }
  
}
