.property-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.property-background-image {
  background: hsla(218, 36%, 18%, 0.75);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 33vh;
  border-radius: 5px;
  position: relative;

}
.property-card-header {
  padding: 0.8rem;
}

.property-card-header span {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border-radius: 2.89px;
  font-size: 0.55rem;
  font-weight: bold;
}
.property-card-icons {
  display:flex;
  gap: 1rem;
  bottom: 1.5rem;
  right: 1rem;
  position: absolute;
}
.property-card-icons span {
  width: 2rem;
  height: 2rem;
  border-radius: 9.19px;
  background: hsla(0, 0%, 53%, 0.7);
  display: grid;
  place-content: center;
}
.property-card-header .featured {
  background-color: hsl(var(--clr-primary));
  color: white;
}
.property-card-header .for-sale {
  background-color: hsla(240, 1%, 83%, 0.7);
  color: white;
}
.property-card-body {
  padding: .5rem;
}

.property-card-body h3 {
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.property-card-body span {
  color: grey;
  font-size: 1rem;
  /* margin: 0.5rem 0; */
}
.property-details {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: .5rem;
}
.property-card-footer {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  /* align-items: center; */
  padding: 0 .7rem 0 .7rem;
  /* border-top: 1px solid #f0f0f0; */
}

/* .property-card-footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.property-card-footer div span {
  /* margin-left: 0.5rem; */
}

.property-card-footer .price {
  font-size: 1.3rem;
  font-weight: bold;
}

.property-card-footer .icons img {
  /* margin-left: 0.5rem; */
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 1rem;
  margin-bottom: .8rem;
}
@media screen and (min-width: 54em) {
  .property-background-image {
    background: hsla(218, 36%, 18%, 0.75);
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 5px;
    position: relative;
    background-size: cover;
  }

  .property-card-header span {
    display: inline-block;
    margin-right: 0.5rem;
    padding: .7rem 1.5rem;
    border-radius: 2.89px;
    font-size: 0.8rem;
  }
  .property-card-icons {
    display: flex;
    gap: 1rem;
    bottom: 1.5rem;
    right: 1rem;
    position: absolute;
    /* width: 5rem; */
  }
  .property-card-icons span {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 9.19px;
    background: hsla(0, 0%, 53%, 0.7);
    display: grid;
    place-content: center;
  }
  .property-card-header .featured {
    background-color: hsl(var(--clr-primary));
    color: white;
  }

  .property-card-header .for-sale {
    background-color: hsla(240, 1%, 83%, 0.7);
    color: white;
  }

  .property-card-body {
    padding: 1rem;
  }

  .property-card-body h3 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: hsl(var(--clr-darker-black));
    font-weight: bold;
  }

  .property-card-body span {
    color: grey;
    font-size: 1rem;
    /* margin: 0.5rem 0; */
  }
  .property-details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1.5rem 0 .8rem 0;  
    /* margin-top: .5rem; */
  }
  .property-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #f0f0f0;

    /* display: flex;
    flex-direction: column;
    gap: .8rem;

    padding: 0 .7rem 0 .7rem; */
  }

  .property-card-footer div {
    display: flex;
    align-items: center;
  }

  .property-card-footer div span {
    margin-left: 0.5rem;
  }

  .property-card-footer .price {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .property-card-footer .icons img {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .icons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
  }
}
