.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }

  .filter-left{
      display: flex;
      flex-direction: column;
  }
  .filter-left span{
    font-size: 1rem;
  }
  .sort-by span{
    font-size: 1rem;
  }
  
  @media (min-width: 54em) {
    .filter-section{
      padding-top: 4rem;
    }
    .filter-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .filter-left{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    .filter-left span{
      font-size: 1.3rem;
      color: hsl(var(--clr-darker-black));
    }
    .sort-by span{
      font-size: 1.3rem;
    }
  }
  